.logo {
  &__canvas {
    display: none;

    @media screen and (min-width: $breakpoint) {
      display: inline-block;
      clip-path: url(#svgPath);
    }
  }

  &__fallback {
    @media screen and (min-width: $breakpoint) {
      display: none;
    }
  }
}
